<div class="row">
    <div class="columns medium-4">
        <img src="http://placehold.it/100x100">
    </div>
    <div class="columns medium-4">
        <img src="http://placehold.it/100x100">
    </div>
    <div class="columns medium-4 end">
        <img src="http://placehold.it/100x100">
    </div>
</div>