<div class="creditations">
    <div class="row small-up-2 small-collapse medium-uncollapse">
        {{#ulLoop (renderBlock 'logos')}}
            <div class="column column-block">
                {{{this}}}
            </div>
        {{/ulLoop}}
    </div>
</div>