<div class="row medium-up-3 large-up-4">
    <div class="column column-block">
        <img src="http://placehold.it/100x100">
    </div>
    <div class="column column-block">
        <img src="http://placehold.it/100x100">
    </div>
    <div class="column column-block">
        <img src="http://placehold.it/100x100">
    </div>
</div>