<footer>
    <div class="row copy-bar">
        <div class="columns small-12">
            <div class="row" data-equalizer>
                <div class="columns medium-4" data-equalizer-watch>
                    <div class="column-offset">
                        {{> quick_contact partialTitle="Contact Us" }}
                    </div>
                </div>
                <div class="columns medium-4 medium-push-4" data-equalizer-watch>
                    <div class="column-offset">
                        <div class="row expanded">
                            <div class="columns">
                                {{> creds}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns medium-4 medium-pull-4" data-equalizer-watch>
                    <div class="column-offset">
                        <div class="privacy-and-copy-right">
                            <div class="privacy-and-social">
                                <a href="/privacy-policy">Privacy Policy</a>
                                <p class="copyrights">
                                    &copy; 2016 SI Drilling Ltd
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{trackingCode}}', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" src="/js/common.js"></script>