<footer>
    <div class="row copy-bar">
        <div class="columns small-12">
            <div class="row" data-equalizer>
                <div class="columns medium-4" data-equalizer-watch>
                    <div class="column-offset">
                        {{> quick_contact partialTitle="Contact Us" }}
                    </div>
                </div>
                <div class="columns medium-4 medium-push-4" data-equalizer-watch>
                    <div class="column-offset">
                        <div class="row expanded">
                            <div class="columns">
                                {{> creds}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns medium-4 medium-pull-4" data-equalizer-watch>
                    <div class="column-offset">
                        <div class="privacy-and-copy-right">
                            <div class="privacy-and-social">
                                <a href="/privacy-policy">Privacy Policy</a>
                                <p class="copyrights">
                                    &copy; 2016 S I Drilling Ltd
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="src/js/main.js"></script>
