<nav {{#if classes}}class="{{classes}}"{{/if}}>
    <ul class="menu {{#if vertical}}vertical{{/if}}">
        <li><a href="#"><span>Home</span></a></li>
        <li><a href="#"><span>What we do</span></a></li>
        <li><a href="#"><span>Who we are</span></a></li>
        <li><a href="#"><span>Case Studies</span></a></li>
    </ul>
</nav>