<nav {{#if classes}}class="{{classes}}"{{/if}}>
    <ul class="row">
        <li class="columns medium-3"><a href="about">About</a></li>
        <li class="columns medium-3"><a href="projects">Projects</a></li>
        <li class="columns medium-3"><a href="capabilities">Capabilities</a></li>
        <li class="columns medium-3"><a href="contact">Contact</a></li>
    </ul>
</nav>