<header>
    <div class="row">
        <div class="columns small-9 medium-12">
            <div class="logo-quick-contact">
                <div class="row">
                    <div class="columns small-12 medium-3">
                        <div class="logo">
                            <a href="/">
                                SI Drilling
                                <span>Cable Percussion Ltd.</span>
                            </a>
                        </div>
                    </div>
                    <div class="columns small-12 medium-9 show-for-medium">
                        <div class="contact-and-creds">
                            <div class="row">
                                <div class="columns medium-4">
                                    {{> quick_contact}}
                                </div>
                                <div class="columns medium-8">
                                    {{> creds}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns small-3">
            <button class="show-for-small-only hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="js-mobile-nav show-for-small-only slidy-nav">
        {{> header_nav classes="hide" vertical="true"}}
    </div>
    <div class="show-for-medium">{{> header_nav classes="menu-centered"}}</div>
    <div class="header-bottom-bar show-for-small-only"></div>
</header>