<nav {{#if classes}}class="{{classes}}"{{/if}}>
    <ul class="menu {{#if vertical}}vertical{{/if}}">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/services-what-we-do"><span>What we do</span></a></li>
        <li><a href="/team-who-we-are"><span>Who we are</span></a></li>
        <li><a href="/case-studies"><span>Case Studies</span></a></li>
    </ul>
</nav>