<nav {{#if classes}}class="{{classes}}"{{/if}}>
    <ul class="menu {{#if vertical}}vertical{{/if}}">
        <li>{{#anc '/'}}<span>Home</span>{{/anc}}</li>
        <li>{{#anc '/services-what-we-do/'}}<span>What we do</span>{{/anc}}</li>
        <li>{{#anc '/team-who-we-are/'}}<span>Who we are</span>{{/anc}}</li>
        <li>{{#anc '/equipment/'}}<span>Equipment</span>{{/anc}}</li>
        <li>{{#anc '/case-studies/'}}<span>Case Studies</span>{{/anc}}</li>
    </ul>
</nav>
