<nav {{#if classes}}class="{{classes}}"{{/if}}>
    <ul class="row">
        <li class="columns medium-3"><a href="#">Home</a></li>
        <li class="columns medium-3"><a href="#">What we do</a></li>
        <li class="columns medium-3"><a href="#">Who we are</a></li>
        <li class="columns medium-3"><a href="#">Case Studies</a></li>
    </ul>
</nav>