<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <main class="main-layout">
            <div class="row">
                <div class="columns">
                    {{> @partial-block}}
                    <script>window.thing = `{{dev this}}`.replace(/\&quot;/g, '"')</script>
                </div>
            </div>
        </main>
        {{> footer}}
    </body>
</html>
