<!DOCTYPE html>
<html>
    {{> head}}
    <body class="layout-file-{{slugHBS layout}}">
        {{> header}}
        <main class="main-layout">
            <div class="main-wrapper">
                {{> @partial-block}}
            </div>
        </main>
        {{> footer}}
    </body>
</html>
