/** css-import only picks up double quotes for imports */
@import "foundation-sandboxed/build/css/normalize.css";
@import "foundation-sandboxed/build/css/foundation.css";
@import "hamburgers/dist/hamburgers.css";
@import "src/css/fonts.css";
@import "src/css/main.css";
@import "src/css/layout.css";

/* ========================================= Home */
.splash {
    height: 75%;
    height: 75vh;
    background-image: url("images/big_sand_hand.jpg");
    background-size: cover;
    background-position: 50%;
}

/* ========================================= Projects */
/* ========================================= Capabilities */
/* ========================================= Contact */
