/** css-import only picks up double quotes for imports */
@import "normalize.css";
@import "foundation-sites/dist/css/foundation.css";
@import "hamburgers/dist/hamburgers.css";
@import "src/css/fonts.css";
@import "src/css/main.css";
@import "src/css/layout.css";

/* ========================================= Home */
.home-splash {
    height: 50vh;
}

.home-splash figure {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-splash figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-splash .caption-text {
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ========================================= Projects */
/* ========================================= Capabilities */
/* ========================================= Contact */
