{{#> layout }}
    <div class="row">
        <div class="columns">
            {{{contents}}}
        </div>
        <div class="columns">
            {{#each jobs}}
                {{> media_object this links=(linkToEquipments this.equipment)}}
            {{/each}}
        </div>
    </div>
{{/layout}}
