{{#> layout }}
    <div class="row">
        <div class="columns">
            {{{contents}}}
        </div>
        <div class="columns medium-9" id="sticky-target">
            {{#each jobs}}
                {{> media_object this links=(linkToEquipments this.equipment) linksBlurb='Equipment used on this job'}}
            {{/each}}
        </div>
        <div class="columns medium-3" data-sticky-container>
            <div class="sticky" data-sticky data-top-anchor="sticky-target" data-margin-top>
                <ul class="vertical menu" data-magellan>
                    {{#each jobs}}
                        <li><a href="#{{safeString title}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/layout}}
