<div class="media-object">
    <div class="media-object-section">
        <div class="thumbnail">
            <img src="/equipment-images/{{image}}">
        </div>
    </div>
    <div class="media-object-section">
        <h4>{{title}}</h4>
        <p>{{{contents}}}</p>
    </div>
</div>
