{{#> layout }}
    <div class="row">
        <div class="columns">
            <div>
                {{{contents}}}
            </div>

            <ul>
                {{#each equipment}}

                {{/each}}
            </ul>
        </div>
    </div>
{{/layout}}